/* ALWAYS */

html {
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

*,
::before,
::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    background-color: #0b3075;
}

/* ALWAYS */

/* NAVBAR */

.navBar {
    width: 100%;
    background-color: #0b3075;
    position: sticky;
    top: 0;
    height: 60px;
    box-shadow: 1px 1px 1px 1px #00000040;
}

.navBar .containerNav {
   position: relative;
   display: flex;
   height: inherit;
   justify-content: flex-end;
   align-items: center;

}

.navMenu{
    position: absolute;
    top: 60px;
    width: 100%;
    background-color: #105edd;  
    padding: 20px 0;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    transition: 0.4s ease-in-out;
}

.navMenu a{
    color: #f8de3c;
    text-decoration: none;
    padding: 8px 0;
    text-align: center;
    font-size: 20px;

}

.navMenu a:hover{
color: white;
}

.navBar i{
    font-size: 25px;
    color:#f8de3c ;

}

.checkbox{
    display: none;
}

.checkbox:checked ~ .navMenu{
    opacity: 1;
    visibility: visible;
}

.btnCheckbox{
    margin-right: 20px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .navMenu{
        width: 100%;
        padding: 20px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

/* NAVBAR */

/*HOME SECTION*/

.hero{
    min-height: 60vh;
    margin-left: 5px;
    margin-right: 5px;
}

.hero__container{
    display: flex;
    flex-direction: column;
}

/* @media (min-width: 768px) {

    .hero__image {
        display: flex;
        justify-content: center;
        width: 20%;
        height: 700px;
    }
    
    .hero__image img {
        width: 100%;
        height: 100%;
    }
} */

.hero__content{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero__content h1{
    margin: 15px;
    font-weight: 400;
    font-size: 34px;
    color: #fefefe;
}

.hero__content h1 span{
    font-weight: 600;
    font-size: 40px;
    color: #f8de3c;
}

.hero__content p{
    margin: 0;
    color: white;
    font-size: 25px;
}

.hero__image {
    width: 100%;
    height: 400px;
}

.hero__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*HOME SECTION*/

/*ABOUT SECTION*/

.about {
    padding: 30px 0;
}

.about__container{
    padding: 0 20px;
}

.about__text {
    border-left: 3px solid #f8de3c;
    padding-left: 20px;
    color: #fefefe;
}

.about__container h2 {
    color:#f8de3c;
    font-size: 24px;
    font-weight: 700;
}

.about__btn-download {
    margin: 20px 0;
    text-align: center;
}

.btn-cv {
    background-color: #fefefe;
    color: #0b3075;
    border: none;
    padding: 5px 15px;
    border-radius: 15px;
    cursor: pointer;
}

.btn-cv:hover {
    background-color: aquamarine;
}

@media (min-width: 768px){

    .about__container{
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*ABOUT SECTION*/

/*ABOUT EDUCATION SECTION*/

.about__education {
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.about__education-UdeG img {
    width: 80px;
    height: 80px;
}

.about__education-UdeG {
    background-color: #105edd59;
    width: 50%;
    padding-right: 10px;
    border-radius: 15%;
    box-shadow: 1px 1px 1px 1px #00000042;
}

.about__education-UdeG p {
    color: #fefefe;
    font-weight: 800;
}

.about__education-Academlo {
    background-color: #105edd59;
    width: 50%;
    padding-right: 10px;
    border-radius: 15%;
    box-shadow: 1px 1px 1px 1px #00000042;
}

.about__education-Academlo p {
    color: #fefefe;
    font-weight: 800;
}

/*ABOUT EDUCATION SECTION*/

/*HARD SKILLS SECTION*/

.skills__Hard-Title {
    padding-left: 20px;
    margin: 0;
}

.skills__Hard-Title h2 {
    color: #f8de3c;
    text-align: center;
}

.skills {
    padding: 20px 0;
    margin: 0;
}

.skills__Hard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.skills__Hard-html {
    color: orangered;
    background-color: #105fdd3a;
    font-size: 50px;
    text-align: center;
    width: 30%;
    padding-right: 10px;
    border-radius: 15%;
    box-shadow: 1px 1px 1px 1px #00000042;
}

.skills__Hard-CSS {
    color:#105edd;
    background-color: #105fdd3a;
    font-size: 50px;
    text-align: center;
    width: 30%;
    padding-right: 10px;
    border-radius: 15%;
    box-shadow: 1px 1px 1px 1px #00000042;
}

.skills__Hard-JS {
    color: #f8de3c;
    background-color: #105fdd3a;
    font-size: 50px;
    text-align: center;
    width: 30%;
    padding-right: 10px;
    border-radius: 15%;
    box-shadow: 1px 1px 1px 1px #00000042;
}

.skills__Hard-html:hover {
    background-color: rgba(71, 244, 187, 0.637);
}   

.skills__Hard-CSS:hover {
    background-color: rgba(71, 244, 187, 0.637);
}

.skills__Hard-JS:hover {
    background-color: rgba(71, 244, 187, 0.637);
}

/*HARD SKILLS SECTION*/

/*SOFT SKILLS SECTION*/

.skills__soft {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.skills__soft-Teamwork {
    color: #f8de3c;
    font-size: 25px;
    width: 20%;
}

.skills__soft-Teamwork p {
    color: #fefefe;
    font-size: 15px;
}

.skills__soft-under {
    color: #f8de3c;
    font-size: 25px;
    width: 20%;
}

.skills__soft-under p {
    color: #fefefe;
    font-size: 15px;
}

.skills__soft-analytical {
    color: #f8de3c;
    font-size: 25px;
    width: 20%;
}

.skills__soft-analytical p {
    color: #fefefe;
    font-size: 15px;
}

.skills__soft-self {
    color: #f8de3c;
    font-size: 25px;
    width: 20%;
}

.skills__soft-self p {
    color: #fefefe;
    font-size: 15px;
}

.skills__soft-Teamwork:hover {
   color: aqua;
}

.skills__soft-self:hover {
    color: aqua;
}

.skills__soft-analytical:hover {
    color: aqua;
}

.skills__soft-under:hover {
    color: aqua
}

/*SOFT SKILLS SECTION*/

/*MY PORTFOLIO SECTION*/

.portfolio__title h2 {
    color: #f8de3c;
    text-align: center;
}

.portfolio__proyects {
    width: 100%;
}

.portfolio__proyects1 img {
    border-radius: 10%;
    height: 350px;
    transition: 0.3s;
}

.portfolio__proyects1 {
   display: flex;
   justify-content: center;
}

.portfolio__proyects2-3 {
    width: 100%;
    display: flex;
}

.portfolio__proyects2-3 img {
    border-radius: 15%;
    object-fit: cover;
}

.proyect2 {
    width: 50%;
    height: 350px;
    padding: 6px 6px;
    transition: 0.3s;
}

.proyect3 {
    width: 50%;
    height: 350px;
    padding: 6px 6px;
    transition: 0.3s;
}

.portfolio__proyects4 {
    display: flex;
    justify-content: center;
 }

 .portfolio__proyects4 img {
    border-radius: 10%;
    height: 350px;
    transition: 0.3s;
}

.portfolio__proyects4 img:hover {
    border-radius: 10%;
    height: 390px;
}

.proyect2:hover {
    width: 50%;
    height: 390px;
    padding: 6px 6px;
}

.proyect3:hover {
    width: 50%;
    height: 390px;
    padding: 6px 6px;
}

.portfolio__proyects1 img:hover {
    border-radius: 10%;
    height: 390px;
}

/*MY PORTFOLIO SECTION*/

/*SOCIAL MEDIA SECTION*/

.contacto__social-media {
    display: flex;
    justify-content: space-around;
}

.contacto_title h2 {
    margin-bottom: 0;
    color: #f8de3c;
    text-align: center;
}

.contacto__social-media-in h3 {
    margin-top: 5px;
    color:#105edd;
    font-size: 45px;
    transition: 0.3s;
}

.contacto__social-media-git h3 {
    margin-top: 40px;
    color: #ddcf10ce;
    font-size: 45px;
    transition: 0.3s;
}

.contacto__social-media-mail h3 {
    margin-top: 80px;
    color: #dd1039d3;
    font-size: 45px;
    transition: 0.3s;
}

.contacto__social-media-in h3:hover {
    margin-top: 5px;
    color:#3a79df;
    font-size: 65px;
}

.contacto__social-media-git h3:hover {
    margin-top: 40px;
    color: #f3ea6af7;
    font-size: 65px;
}

.contacto__social-media-mail h3:hover {
    margin-top: 80px;
    color: #fa5b7bd3;
    font-size: 65px;
}

/*SOCIAL MEDIA SECTION*/

/*FOOTER SECTION*/

.footer_portfolio {
    width: 100%;
    height: 100px;
    background-color: #105edd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_portfolio h2 {
    color: #f8de3c;
}

/*FOOTER SECTION*/

/*@Medias*/